<a href="https://colab.research.google.com/github/Chandrika1305/Chandrika-Dasoju-/blob/main/assignments/Assignment_01.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Python

<a target="_blank" href="https://colab.research.google.com/github/kgsb24/rishi-college/blob/main/assignments/Assignment_01.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

## Basic Python Fundamentals

In [ ]:
# Write a Python program to declare a variable x with the value 10 and print its type.
x=10
print(type(x))

<class 'int'>

In [ ]:
# Write a Python program to declare three variables a = 5, b = 10, and c = 15, and print their sum.
a=5
b=10
c=15
print("sum:",a+b+c)

sum: 30

In [ ]:
# Write a Python program that checks and prints the type of a variable (e.g., int, float, str, etc.).
x=5
y=1.2
z='hello'
print(type(x))
print(type(y))
print(type(z))

<class 'int'>
<class 'float'>
<class 'str'>

In [ ]:
# Write a Python program to perform addition, subtraction, multiplication, and division on two numbers. (User input is required for the numbers)
a=5
b=6
print("addition:",a+b)
print("subtraction:",a-b)
print("multiplication:",a*b)
print("division:",a/b)

addition: 11
subtraction: -1
multiplication: 30
division: 0.8333333333333334

In [ ]:
# Write a Python program to convert a string "123" to an integer and a float and print the results.
string_value = "123"
integer_value = int(string_value)
float_value = float(string_value)
print("String value:", string_value)
print("Integer value:", integer_value)
print("Float value:", float_value)

String value: 123
Integer value: 123
Float value: 123.0

In [ ]:
# Write a Python program to print the first character of a given string. (User input for the string)
string_value = "smiley"
first_char = string_value[:1]
print("First character:", first_char)

First character: s

In [ ]:
# Write a Python program to print the length of a string. (User input for the string)
string_value = "smiley"
length = len(string_value)
print("Length of the string:", length)

Length of the string: 6

In [ ]:
# Write a Python program to check if a given string contains only alphabets.
string = "Smiley"
if string.isalpha():
    print("The string contains only alphabets.")
else:
    print("The string contains non-alphabets.")

The string contains only alphabets.

In [ ]:
# Write a Python program to concatenate two strings. (User input for the strings)
string1 = "Hello"
string2 = "Smiley"
concatenated_string = string1 + " " + string2
print("Concatenated string:", concatenated_string)

Concatenated string: Hello Smiley

In [ ]:
# Write a Python program to find the index of a substring "abc" in a string. (User input for the string)
string = "abcefgh"
substring = "abc"
index = string.find(substring)
print("Index of the substring:", index)

Index of the substring: 0

In [ ]:
# Write a Python program to convert a string to both uppercase and lowercase. (User input for the string)
string = "Smiley"
print("Uppercase: ",string.upper())
print("Lowercase: ",string.lower())

Uppercase:  SMILEY
Lowercase:  smiley

In [ ]:
# Write a Python program to count how many times a particular character appears in a string. (User input for string and character)
string = "Aparna"
character = "a"
count = string.count(character)
print("Count of the character:", count)

Count of the character: 2

In [ ]:
# Write a Python program to take the user's name as input and print a personalized greeting. (Hello, username, Good Morning)
name = "Smiley"
print(f"Hello, {name}! Good Morning")

Hello, Smiley! Good Morning

In [ ]:
# Write a Python program to take two numbers as input and print their sum.
a= 20
b= 20
print("sum :", a+b)

sum : 40

In [ ]:
# Write a Python program to format and display a string containing the user's name and age. (User input required)
name = "Smiley"
age = "19"
formatted_string = f"Hello, {name}! You are {age} years old"
print("Formatted-string:", formatted_string)

Formatted-string: Hello, Smiley! You are 19 years old

## Control Structures (Conditionals and Loops)

In [ ]:
# Write a Python program that takes a number as input and checks whether it is positive, negative, or zero.
number = float(input("Enter a number: "))
if number > 0:
    print("The number is positive.")
elif number < 0:
    print("The number is negative.")
else:
    print("The number is zero.")

Enter a number: 20
The number is positive.

In [ ]:
# Write a Python program to find the maximum of three numbers. (User input for the numbers)
def maximum(a,b,c):
    list=[a,b,c]
    list.sort()
    return list[-1]
a=20
b=19
c=3
print(maximum(a,b,c))

20

In [ ]:
# Write a Python program to check if a year is a leap year. (User input for the year)
import calendar
year=2005
if  calendar.isleap(year):
    print(f"{year} is a leap year.")
else:
    print(f"{year} is not a leap year.")

2005 is not a leap year.

In [ ]:
# Write a Python program to check if a number is divisible by both 3 and 5. (User input for the number)
n=27
for i in range(0,n):
    if i%15==0:
        print(i,end=" ")

0 15

In [ ]:
# Write a Python program to check if a string is a palindrome. (User input for the string)

In [ ]:
# Write a Python program to print numbers from 1 to 10 using a for loop.
print("Print numbers 1 to 15 using for loop:")
for i in range(1,16):
    print(i)

Print numbers 1 to 15 using for loop:
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15

In [ ]:
# Write a Python program to print all even numbers from 1 to 20 using a while loop.
print("Even numbers:")
for num in range(1,41):
   if num  % 2 == 0:
      print(num)

Even numbers:
2
4
6
8
10
12
14
16
18
20
22
24
26
28
30
32
34
36
38
40

In [ ]:
# Write a Python program to print the multiplication table of a given number using a for loop. (User input for the number)
number = int(input("Enter a number: "))
for i in range(1, 16):  # Loop from 1 to 15
    print(f"{number} x {i} = {number * i}")

Enter a number: 9
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81
9 x 10 = 90
9 x 11 = 99
9 x 12 = 108
9 x 13 = 117
9 x 14 = 126
9 x 15 = 135

In [4]:
# Write a Python program to calculate the sum of all numbers from 1 to n using a while loop. (User input for n)
n = int(input("Enter a number (n) to calculate the sum of all numbers from 1 to n: "))

sum_of_numbers = 0
i = 1

while i <= n:
    sum_of_numbers += i
    i += 1

print(f"The sum of all numbers from 1 to {n} is: {sum_of_numbers}")

Enter a number (n) to calculate the sum of all numbers from 1 to n: 19
The sum of all numbers from 1 to 19 is: 190

In [7]:
# Write a Python program to calculate the factorial of a number using a while loop. (User input for the number)
n= int(input("Enter a number to calculate its factorial: "))
factorial = 1
if n < 0:
    print("Factorial does not exist for negative numbers.")
else:
    i = 1
    while i <= n:
        factorial *= i
        i += 1
    print(f"The factorial of {n} is: {factorial}")

Enter a number to calculate its factorial: 19
The factorial of 19 is: 121645100408832000

In [8]:
# Write a Python program to print the Fibonacci sequence up to n terms. (User input for n)
n = int(input("Enter the number of terms for Fibonacci sequence: "))
a, b = 0, 1
print("Fibonacci sequence up to", n, "terms:")
for _ in range(n):
    print(a, end=" ")
    a, b = b, a + b

Enter the number of terms for Fibonacci sequence: 7
Fibonacci sequence up to 7 terms:
0 1 1 2 3 5 8

In [10]:
# Write a Python program to find all the prime numbers from 1 to 100.
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num**0.5) + 1):
        if num % i == 0:
            return False
    return True
prime_numbers = []
for number in range(1, 150):
    if is_prime(number):
        prime_numbers.append(number)
print("Prime numbers between 1 and 150:", prime_numbers)

Prime numbers between 1 and 150: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149]

In [11]:
# Write a Python program that breaks out of a loop when a specific condition is met (e.g., when a number greater than 50 is found).
number = input("Enter a number: ")
sum_of_digits = 0
for digit in number:
    sum_of_digits += int(digit)
print(f"The sum of the digits is: {sum_of_digits}")

Enter a number: 19
The sum of the digits is: 10

In [13]:
# Write a Python program to skip even numbers while printing numbers from 1 to 20 using a for loop.
for number in range(1, 51):
    # Skip even numbers
    if number % 2 == 0:
        continue
    # Print the odd numbers
    print(number)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49

In [14]:
# Write a Python program to count how many times a particular character appears in a string using a for loop. (User input for string and character)

input_string = input("Enter a string: ")
char_to_count = input("Enter the character to count: ")
count = 0
for char in input_string:
    if char == char_to_count:
        count += 1
print(f"The character '{char_to_count}' appears {count} times in the string.")

Enter a string: Hi
Enter the character to count: 2
The character '2' appears 0 times in the string.

In [15]:
# Write a Python program to calculate the sum of digits of a number. (User input for the number)
number = input("Enter a number: ")
sum_of_digits = 0
for digit in number:
    sum_of_digits += int(digit)
print(f"The sum of the digits is: {sum_of_digits}")

Enter a number: 19
The sum of the digits is: 10

## Data Structures (Lists, Tuples, Sets, Dictionaries)

In [17]:
# Write a Python program to create a list of integers and print the sum of the elements.
numbers = [1, 25, 35, 45, 55]
sum_of_elements = sum(numbers)
print("The sum of the elements in the list is:", sum_of_elements)

The sum of the elements in the list is: 161

In [19]:
# Write a Python program to find the largest element in a list.
numbers = [100, 90, 80, 70, 60, 50, 40]
largest_element = max(numbers)
print("The largest element in the list is:", largest_element)

The largest element in the list is: 100

In [20]:
# Write a Python program to reverse a list.
numbers = [11, 22, 33, 44, 55]
reversed_list = numbers[::-1]
print("The reversed list is:", reversed_list)

The reversed list is: [55, 44, 33, 22, 11]

In [23]:
# Write a Python program to remove all occurrences of a specific element from a list.
numbers = [11, 22, 33, 22, 44, 22, 55]
element_to_remove = 22
numbers = [num for num in numbers if num != element_to_remove]
print("The updated list is:", numbers)

The updated list is: [11, 33, 44, 55]

In [24]:
# Write a Python program to find the index of an element in a list.
numbers = [11, 22, 33, 44, 55]
element_to_find = 33
if element_to_find in numbers:
    index = numbers.index(element_to_find)
    print(f"The index of {element_to_find} is: {index}")
else:
    print(f"{element_to_find} is not found in the list.")

The index of 33 is: 2

In [25]:
# Write a Python program to find if a specific element exists in a list.
numbers = [11, 22, 33, 44, 55]
element_to_check = 33
if element_to_check in numbers:
    print(f"{element_to_check} exists in the list.")
else:
    print(f"{element_to_check} does not exist in the list.")

33 exists in the list.

In [26]:
# Write a Python program to remove duplicates from a list.
numbers = [11, 22, 33, 22, 44, 55, 33, 55, 66]
unique_numbers = list(set(numbers))
print("The list without duplicates is:", unique_numbers)

The list without duplicates is: [33, 66, 11, 44, 22, 55]

In [27]:
# Write a Python program to count the occurrences of an element in a list.
numbers = [11, 22, 33, 22, 44, 55, 22, 33]
element_to_count = 22
occurrences = numbers.count(element_to_count)
print(f"The element {element_to_count} appears {occurrences} times in the list.")

The element 22 appears 3 times in the list.

In [28]:
# Write a Python program to get the number of even numbers in a list.
numbers = [11, 22, 33, 44, 55, 66, 77, 88, 99]
even_count = sum(1 for num in numbers if num % 2 == 0)
print(f"The number of even numbers in the list is: {even_count}")

The number of even numbers in the list is: 4

In [30]:
# Write a Python program to create a tuple and print it.
my_tuple = (11, 22, 33, 44, 55)
print("The tuple is:", my_tuple)

The tuple is: (11, 22, 33, 44, 55)

In [31]:
# Write a Python program to convert a tuple to a list and vice versa.
my_tuple = (10, 20, 30, 40, 50)
tuple_to_list = list(my_tuple)
print("Tuple to List:", tuple_to_list)
my_list = [100, 200, 300, 400, 500]
list_to_tuple = tuple(my_list)
print("List to Tuple:", list_to_tuple)

Tuple to List: [10, 20, 30, 40, 50]
List to Tuple: (100, 200, 300, 400, 500)

In [32]:
# Write a Python program to find the maximum and minimum values in a tuple.
my_tuple = (10, 20, 30, 40, 50, 60)
max_value = max(my_tuple)
min_value = min(my_tuple)
print("The maximum value in the tuple is:", max_value)
print("The minimum value in the tuple is:", min_value)

The maximum value in the tuple is: 60
The minimum value in the tuple is: 10

In [33]:
# Write a Python program to unpack a tuple into variables.
my_tuple = (10, 20, 30, 40, 50)
a, b, c, d, e = my_tuple
print("Unpacked values:")
print("a =", a)
print("b =", b)
print("c =", c)
print("d =", d)
print("e =", e)

Unpacked values:
a = 10
b = 20
c = 30
d = 40
e = 50

In [34]:
# Write a Python program to add an element to a set and check if an element exists in the set.
my_set = {10, 20, 30, 40, 50}
my_set.add(60)
print("Updated set:", my_set)
element_to_check = 30
if element_to_check in my_set:
    print(f"{element_to_check} exists in the set.")
else:
    print(f"{element_to_check} does not exist in the set.")

Updated set: {50, 20, 40, 10, 60, 30}
30 exists in the set.

In [35]:
# Write a Python program to create a dictionary with keys and values and print it.
my_dict = {
    "name": "Smiley",
    "age": 19,
    "city": "Hyderabad",
    "job": "Animator"
}
print("The dictionary is:", my_dict)

The dictionary is: {'name': 'Smiley', 'age': 19, 'city': 'Hyderabad', 'job': 'Animator'}

In [36]:
# Write a Python program to access a dictionary value using a key.
my_dict = {
    "name": "Smiley",
    "age": 19,
    "city": "Hyderabad",
    "job": "Animator"
}
key_to_access = "age"
value = my_dict.get(key_to_access)
print(f"The value associated with the key '{key_to_access}' is: {value}")

The value associated with the key 'age' is: 19

In [38]:
# Write a Python program to check if a key exists in a dictionary.
my_dict = {
    "name": "Smiley",
    "age": 19,
    "city": "Hyderabad",
    "job": "Animator"
}
key_to_check = "age"
if key_to_check in my_dict:
    print(f"The key '{key_to_check}' exists in the dictionary.")
else:
    print(f"The key '{key_to_check}' does not exist in the dictionary.")

The key 'age' exists in the dictionary.

In [39]:
# Write a Python program to merge two dictionaries.
dict1 = {
    "name": "Smiley",
    "age": 19
}

dict2 = {
    "city": "Hyderabad",
    "job": "Animator"
}
merged_dict = {**dict1, **dict2}
print("Merged dictionary:", merged_dict)

Merged dictionary: {'name': 'Smiley', 'age': 19, 'city': 'Hyderabad', 'job': 'Animator'}

In [40]:
# Write a Python program to remove a key from a dictionary.
my_dict = {
    "name": "Smiley",
    "age": 19,
    "city": "Hyderabad",
    "job": "Animator"
}
key_to_remove = "age"
if key_to_remove in my_dict:
    del my_dict[key_to_remove]
    print(f"The key '{key_to_remove}' has been removed.")
else:
    print(f"The key '{key_to_remove}' does not exist in the dictionary.")
print("Updated dictionary:", my_dict)

The key 'age' has been removed.
Updated dictionary: {'name': 'Smiley', 'city': 'Hyderabad', 'job': 'Animator'}

In [41]:
# Write a Python program to get the number of keys in a dictionary.
my_dict = {
    "name": "Smiley",
    "age": 19,
    "city": "Hyderabad",
    "job": "Animator"
}
num_keys = len(my_dict)
print("The number of keys in the dictionary is:", num_keys)

The number of keys in the dictionary is: 4

In [42]:
# Write a Python program to find the largest and smallest values in a dictionary.
my_dict = {
    "a": 11,
    "b": 22,
    "c": 5,
    "d": 44,
    "e": 15
}
largest_value = max(my_dict, key=my_dict.get)
smallest_value = min(my_dict, key=my_dict.get)
print("The largest value is:", my_dict[largest_value], "which is associated with key:", largest_value)
print("The smallest value is:", my_dict[smallest_value], "which is associated with key:", smallest_value)

The largest value is: 44 which is associated with key: d
The smallest value is: 5 which is associated with key: c

## Functions (User-Defined, Arguments, Keyword Arguments, Return Values)

In [43]:
# Write a Python function that returns the square of a number.
def square(number):
    return number ** 2

In [ ]:
# Write a Python function that accepts two parameters and returns their sum.
def add(a, b):
    return a + b

In [44]:
# Write a Python function to check if a given number is prime.
def is_prime(n):
    if n <= 1:
        return False
    for i in range(2, int(n ** 0.5) + 1):
        if n % i == 0:
            return False
    return True

In [45]:
# Write a Python function to calculate the factorial of a number using recursion.
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

In [46]:
# Write a Python function to calculate the power of a number using recursion.
def power(base, exponent):
    if exponent == 0:
        return 1
    elif exponent > 0:
        return base * power(base, exponent - 1)
    else:
        return 1 / power(base, -exponent)

In [47]:
# Write a Python function to accept a list and return its length without using the built-in len() function.
def list_length(lst):
    count = 0
    for item in lst:
        count += 1
    return count

In [48]:
# Write a Python function that accepts both positional and keyword arguments and prints the sum of positional arguments.
def sum_positional_args(*args, **kwargs):
    total = sum(args)
    print(f"The sum of positional arguments is: {total}")

In [ ]:
# Write a Python function to find the maximum of two numbers using keyword arguments.
def max_of_two(**kwargs):
    num1 = kwargs.get('num1')
    num2 = kwargs.get('num2')

    if num1 is None or num2 is None:
        return "Both 'num1' and 'num2' must be provided"
    return max(num1, num2)

In [49]:
# Write a Python function that accepts a list of numbers and returns their product.
def product_of_numbers(numbers):
    product = 1
    for num in numbers:
        product *= num
    return product

In [50]:
# Write a Python function to check if a number is even or odd using the modulo operator.
def check_even_odd(number):
    if number % 2 == 0:
        return "Even"
    else:
        return "Odd"

In [51]:
# Write a Python program to create a list of squares of numbers from 1 to 10 using list comprehension.
squares = [x**2 for x in range(1, 11)]
print(squares)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [52]:
# Write a Python program to filter out all even numbers from a list using list comprehension.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
odd_numbers = [x for x in numbers if x % 2 != 0]
print(odd_numbers)

[1, 3, 5, 7, 9]

In [53]:
# Write a Python program to create a list of strings that are longer than 4 characters from a given list of words using list comprehension.
words = ["Smiley", "Cutie", "Mayu", "Ram", "Vitu", "appu"]
long_words = [word for word in words if len(word) > 4]
print(long_words)

['Smiley', 'Cutie']

In [55]:
# Write a Python program to create a list of all uppercase letters in a string using list comprehension.
text = "Radhe Krishn!"
uppercase_letters = [char for char in text if char.isupper()]
print(uppercase_letters)

['R', 'K']

In [56]:
# Write a Python program to generate the first n Fibonacci numbers using list comprehension.
def fibonacci(n):
    fib = [0, 1]
    [fib.append(fib[-2] + fib[-1]) for _ in range(2, n)]
    return fib[:n]
n = 19
fib_numbers = fibonacci(n)
print(fib_numbers)

[0, 1, 1, 2, 3, 5, 8, 13, 21, 34, 55, 89, 144, 233, 377, 610, 987, 1597, 2584]

In [57]:
# Write a Python program to create a dictionary where keys are numbers and values are their squares using dictionary comprehension.
numbers = [1, 2, 3, 4, 5]
squares_dict = {x: x**2 for x in numbers}
print(squares_dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25}

In [58]:
# Write a Python program to create a dictionary from two lists (one for keys and one for values) using dictionary comprehension.
keys = ['a', 'b', 'c', 'd']
values = [1, 2, 3, 4]
dictionary = {keys[i]: values[i] for i in range(len(keys))}
print(dictionary)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [ ]:
# Write a Python program to create a dictionary of numbers from 1 to 5 and their cubes using dictionary comprehension.
cubes_dict = {x: x**3 for x in range(1, 6)}
print(cubes_dict)

In [59]:
# Write a Python program to square each element of a list using the map() function.
numbers = [1, 2, 3, 4, 5]
squared_numbers = list(map(lambda x: x**2, numbers))
print(squared_numbers)

[1, 4, 9, 16, 25]

In [60]:
# Write a Python program to filter all even numbers from a list using the filter() function.
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
even_numbers = list(filter(lambda x: x % 2 == 0, numbers))
print(even_numbers)

[2, 4, 6, 8, 10]

In [61]:
# Write a Python program to use a lambda function to check if a number is divisible by both 3 and 5.
is_divisible_by_3_and_5 = lambda x: x % 3 == 0 and x % 5 == 0
print(is_divisible_by_3_and_5(15))  # Output: True
print(is_divisible_by_3_and_5(10))  # Output: False
print(is_divisible_by_3_and_5(30))  # Output: True

True
False
True

In [62]:
# Write a Python program to multiply all numbers in a list by 2 using a lambda function inside map().
numbers = [1, 2, 3, 4, 5]
doubled_numbers = list(map(lambda x: x * 2, numbers))
print(doubled_numbers)

[2, 4, 6, 8, 10]

In [63]:
# Write a Python program to remove all occurrences of a specific element from a list.
numbers = [1, 2, 3, 4, 3, 5, 3, 6]
element_to_remove = 4
filtered_list = [x for x in numbers if x != element_to_remove]
print(filtered_list)

[1, 2, 3, 3, 5, 3, 6]

**Note:**
- All assignments must follow [PEP 8 – Style Guide for Python Code](https://peps.python.org/pep-0008/) guidelines.
- You can add multiple solutions for each question. Create a new code cell next to the question and add it. Shortcut for creating cell : `Alt + Enter`